---
http_interactions:
- request:
    method: post
    uri: https://redbooth.com/api/3/tasks
    body:
      encoding: UTF-8
      string: project_id=1345816&task_list_id=2732755&name=foo
    headers:
      Authorization:
      - Bearer 7b1d7c718a42b11944261ab41d5c76f7c14687045ee69dcad28139400fe79b4f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5a82be368b1765b1dd07e17ec7ee2d22"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"type":"Task","created_at":1420726220,"updated_at":1420726220,"end_date":null,"last_due_date":null,"start_date":null,"frequency":"none","id":16267417,"name":"foo","task_list_id":2732755,"comments_count":0,"assigned_id":null,"is_private":false,"project_id":1345816,"urgent":false,"user_id":1015276,"position":0,"last_activity_id":null,"record_conversion_type":null,"record_conversion_id":null,"metadata":{},"subtasks_count":0,"resolved_subtasks_count":0,"watcher_ids":[1015276],"description":null,"description_html":"","description_updated_by_user_id":null,"description_updated_at":null,"updated_by_id":null,"deleted":false,"row_order":7995392,"status":"new","due_on":null}'
  recorded_at: Thu, 08 Jan 2015 14:10:22 GMT
recorded_with: VCR 2.9.3
